.nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    background-color: lightslategray;
}

.space-logo img {
    width: 100%;
}
.space-logo{
    width: 25%;
}

.nav-links-container{
    display: flex;
    width: 35%;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    align-items: center;
}
.links{
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.5rem;
}
.links:hover{
    text-decoration: underline;
}
